---
title: Politics Rewired
description: Coop building political tech.

teams:
  - title: Engineering
    jobs:
      - title: UI/UX Designer
        description: "You will design Assemble, build marketing sites, and help design tough and complex user interactions"
        link: ui-ux-designer
      - title: Full Stack Software Engineer
        description: "You will be building the Assemble product suite: a powerful general purpose data management tool, and an API for quickly building extensions."
        link: full-stack-software-engineer
---

<section class="hero job-listings">
  <div class="text-container">
    <h1>Come work with us</h1>
    <p class="subtext">
      Join us in building the next generation of grassroots organizing tools for
      the left.
    </p>
  </div>

  <p class="company">
    Politics Rewired is a small worker-owned cooperative designing human and technological solutions for organizers. 
    We work with organizers to streamline workflows so that they can focus on what they do best: 
    building systems and relationships. We work with political campaigns, unions, and movement organizations, 
    with a deliberate emphasis on supporting Left insurgents and building independent Left infrastructure. 
  </p>

  {% for team in page.teams %}
  <br/>
  <h1 class="team-title">{{ team.title }}</h1>
  <dl>
    {% for job in team.jobs %}
    <dt>{{ job.title }}</dt>
    <dd>
      {{ job.description }}
      <a href="{{ job.link }}">See more</a>
    </dd>
    {% endfor %}
  </dl>
  {% endfor %}
</section>
