--- 
title: About
layout: page

teamRow1:
  - image: BenPacker.jpeg
    name: Ben Packer
  - image: BenChrobot.jpeg
    name: Ben Chrobot
  - image: KohleeKennedy.jpg
    name: Kohlee Kennedy
  - image: CurtRies.jpeg   
    name: Curt Ries

teamRow2:
  - image: HenryKoehler.jpeg   
    name: Henry Koehler
  - image: EmilyMonson.jpeg
    name: Emily Monson
  - image: MattGoldfield.jpeg
    name: Matt Goldfield
  - image: PriyaChatwani.JPG
    name: Priya Chatwani
---

<section>
  <h1> Our Story </h1>
  <p>Politics Rewired was founded by Ben Packer and Ben Chrobot (the Bens), who
    had the shared insight that if the Left wanted to grow and win, it needed
    better technology – tools that would save organizers time and allow
    organizations to scale. They made their debut launching the fork of Spoke used
    by Bernie 2020’s peer-to-peer texting program, which sent an unprecedented 260
    million messages and helped redefine the possibilities for distributed
    organizing.</p>

  <p>Following the campaign, our team began to grow. We’re engineers and
    organizers who have been in the trenches for Bernie, Justice Democrats, DSA,
    AOC, and dozens of down-ballot campaigns and grassroots organizations.</p>

  <p>We know what it’s like to put in 10, 12, or 14 hour days on a campaign and
    to have to spend half your time on tedious administrative tasks, instead of
    building strong relationships, designing better systems, or sleeping. We could
    see that organizing didn’t have to be this way and that technology built by
    organizers and for organizers could make all the difference.</p>

  <p>We’ve been able to build the most powerful and cost-effective peer-to-peer
    texting tool available with Spoke Rewired and have had the privilege to work
    with organizations like the Democratic Socialists of America, Justice
    Democrats, the Sunrise Movement, the Friends of Bernie Sanders, and the
    Emergency Workplace Organizing Committee to ensure that their texting programs
    can scale and adapt to the changing needs of their organizing work.</p>

  <p>Now our focus is on Assemble: a collaborative database that’s as easy to
    use as Google Sheets, but with all the power and flexibility of a fully
    developed modern database.</p>

</section>

<!-- <section>
  <h1>Our Team</h1>
  <div class="container flex">
    {% for member in page.teamRow1 %}
      <div class="image">
        <img src="/images/{{ member.image }}" />
      </div>
    {% endfor %}
  </div>
  <div class="container flex">
    {% for member in page.teamRow2 %}
    <div class="image">
      <img src="/images/{{ member.image }}" />
    </div>
    {% endfor %}
  </div>
</section> -->

<section>
  <h1> How We Make Decisions about Clients </h1>
  <p>
    We are not a politically neutral tech vendor. We want our tools to be used
    to grow the Left into a force that can challenge political and economic
    elites and build a society that works for the many, not the few. In
    practice, that means being selective about the candidates and organizations
    with whom we work.
  </p>

  <p>
    For political campaigns, we have a simple rule of thumb: Work with the
    leftmost viable candidate in any given race. In a partisan general election,
    this virtually always means the Democrat running against a Republican. In a
    Democratic or nonpartisan primary election or top-two runoff election, this
    often means an insurgent progressive or socialist candidate running against
    a more establishment centrist or conservative candidate.
  </p>

  <p>
    Our process is straightforward: Every time we receive a new client request
    from a candidate’s campaign, we research the race and ask ourselves three
    questions:
  <ol>
    <li>
      Do they have the most progressive platform?
    </li>
    <li>
      Do they have the most movement support?
    </li>
    <li>
      Are they viable?
    </li>
  </ol>
  </p>

  <p>
    Based on the answers, our team decides whether to approve the candidate as a
    client or not.
  </p>

  <p>
    For political organizations, we evaluate their mission, their membership,
    and their methods. We’re excited to support movement organizations building
    bottom-up power for popular demands, and encourage the use of our tool for
    meaningful connections and asks, rather than spam. There are countless
    different kinds of organizations, and just as we do with candidates, we
    research each one with care.
  </p>

  <p>
    There’s no magic formula for making these decisions, many of which are quite
    complex. Our commitment is to consider anyone interested in working with us
    and to follow a principled process that ensures that we lead with our
    politics and stay true to our goal of building a more just, free, and equal
    world.
  </p>

</section>
