---
title: Spoke
layout: page
override:
  heading: Interested in hosting Spoke yourself? Check out our direct pricing.
  description:
    - We offer a direct pricing model comparable to hosting Spoke yourself - $1.00/mo per sending number, 0.75¢ per SMS segment (inbound / outbound), and 2¢ per MMS segment (inbound / outbound).
    - This pricing can be cheaper if you are comfortable managing telecom resources yourself, however, the majority of clients we work with have found the direct pricing to be confusing and difficult to budget around.
    - Contact us at <a href="mailto:info@politicsrewired.com">info@politicsrewired.com</a> to learn more.

---

<section class="hero">
	<div class="text-container">

  <h1>{{ page.override.heading }}</h1>
  {% for item in page.override.description %}
    <p>{{ item }}</p>
  {% endfor %}

  <div class="button signup-cta" style="margin: 40px auto 20px;">
    <a href="mailto:info@politicsrewired.com">Contact us &rarr;</a>
  </div>
</div>
</section>



{% for section in page.sections %}
<section>
  <div class="container flex">
    <div class="text">
      <h2>{{ section.title }}</h2>
      <p class="subtext">{{ section.content }}</p>
    </div>
    <div class="image">
    {% if section.image %}
      <img src="/images/{{ section.image }}" />
    {% else %}
      [Placeholder]
    {% endif %}
    </div>
  </div>
</section>
{% endfor %}
