---
title: Spoke
layout: page
override:
  heading: Hosted Spoke P2P Texting
  description:
    - Spoke Rewired offers a low-cost, out-of-the-box solution for your peer-to-peer texting team. Based on the open-source Spoke application, but enhanced with automated administrative actions, Spoke Rewired is the most effective way to manage your contact lists, no matter the size of your audience or budget.
    - Use the same software that powered the Bernie Sanders 2020 texting program, which sent over 260 million messages. Need additional help? We also offer extra assistance in planning, building, and analyzing your campaigns from leaders of the Bernie 2020 National Texting Team.

sections:
  - title: Messaging Application
    content: From their browser, your volunteers can send scripted and tailored messages to voters, donors, and fellow volunteers. Conversations requiring attention will automatically appear in texters' to-do lists, and they can easily respond, opt-out contacts, or even escalate trickier conversations to an administrator.
    image: texter.png
  - title: Administration Dashboard
    content: From the dashboard, your team can:<ul><li>Craft messaging scripts and surveys to facilitate texters’ conversations and capture data effectively</li><li>Allocate assignments based on volume, message type, and texter team or skill level</li><li>Review and modify conversation and survey data</li><li>View and export campaign results to sync back with your CRM</li><ul>
    image: admin.png
  - title: Optional List Validation
    content: Built-in contact validation allows you to filter out landlines, reducing costs and ensuring successful message delivery. All validation results are stored in a database for later reference.
    image: filter.png
  - title: Automatic Resource Management
    content: Spoke Rewired automatically assigns phone numbers to send your texts from, for local engagement and to ensure your messages aren't flagged as spam.
    image: proximity.jpg
---

<section class="hero">
	<div class="text-container">

  <h1>{{ page.override.heading }}</h1>
  {% for item in page.override.description %}
    <p>{{ item }}</p>
  {% endfor %}

  <div class="button signup-cta" style="margin: 40px auto 20px;">
    <a href="/signup/">Get started &rarr;</a>
  </div>
</div>
</section>



{% for section in page.sections %}
<section>
  <div class="container flex">
    <div class="text">
      <h2>{{ section.title }}</h2>
      <p class="subtext">{{ section.content }}</p>
    </div>
    <div class="image">
    {% if section.image %}
      <img src="/images/{{ section.image }}" />
    {% else %}
      [Placeholder]
    {% endif %}
    </div>
  </div>
</section>
{% endfor %}
