@font-face {
  font-family: "Karla";
  src: url("/assets/fonts/Karla/Karla-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("/assets/fonts/Karla/Karla-ExtraBold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
