footer {
  flex-shrink: 0;
  padding: 50px 0 50px 0;
  font-size: 1.1em;
  position: relative;
  background: $primary-plum;
  color: $primary-cream;

  .copyright {
    font-size: 0.8em;
    color: rgba($primary-cream, 0.7);
    margin: 0 auto;

    @media #{$tablet} {
      text-align: center;
    }
  }

  &,
  a {
    color: $primary-cream;
  }

  h2 {
    font-size: 1.4em;
    margin: 30px 0;
    color: #ccc;
  }

  .footer-columns {
    @extend %flexbox;
    @include flex-flow(wrap);
    margin: -10px -10px 10px -10px;
  }

  a {
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}

.footer-links {
  width: 100%;
  margin: 10px;
  padding: 0;

  @media #{$tablet} {
    -webkit-flex: 1 0 180px;
    flex: 1 0 180px;
  }

  li {
    list-style: none;
    margin: 15px auto;

    @media #{$tablet} {
      max-width: 150px;
    }
    a {
      &:hover {
        text-decoration: none;
      }
      svg {
        fill: $primary-cream;
        margin-right: 10px;
        transition: fill 0.2s ease;
        vertical-align: middle;
        position: relative;
        top: -2px;
        width: 22px;
        height: 22px;
      }

      &.Twitter-icon:hover svg {
        fill: #55acee;
      }

      &.RSS-icon:hover svg {
        fill: #f26522;
      }
    }
  }
}
