.hero {
  color: $assemble-blue;
  background: $assemble-white;
  text-align: left;
  padding-top: 50px;

  .text-container {
    padding: 10px 20px;
  }

  p {
    text-align: left;
    color: $assemble-blue;
  }

  a {
    color: $assemble-orange;
    text-decoration: none;

    &:hover {
      color: $secondary-salmon;;
    }
  }
}

button {
  align-self: center;
}

.title  {
  font-size: 24px;
}

@media #{$desktop} {
  .flexWithAternate, .flex {
    @include flexbox;
    align-items: center;
    flex-direction: row;

    .text,
    .image {
      -webkit-flex: 1;
      flex: 1;
      padding: 0 20px;
    }
  }

  .container section:nth-child(even) .flexWithAternate {
    flex-direction: row-reverse;
  }
}
