.plans {
  @extend %flexbox;
  @include flex-flow(wrap);

  .plan {
    list-style: none;
    padding: 0;
    margin: 16px;
    text-align: center;
    border: 1px solid $secondary-salmon;
    border-radius: 4px;
    width: 100%;

    .bg-color {
      background: $assemble-orange;
    }

    .highlighted {
      font-size: 1.2em;
    }

    .pricing-cta {
      padding: 0;

      a {
        display: block;
        text-decoration: none;
        box-sizing: border-box;
        padding: 20px 0;
        border: 0;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    @media #{$desktop} {
      -webkit-flex: 1;
      flex: 1;
    }

    li {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      padding: 20px 8px;

      h3 {
        padding: 0;
        margin: 0;
        color: $assemble-white;
        font-weight: normal;
      }
    }
  }
}

.pricing-heading {
  background-color: $assemble-blue;
}

.faq {
  display: flex;
  flex-direction: column;

  span {
    font-size: 20px;
  }
}
