// Assemble palette 
$assemble-white: #EFEBDF;
$assemble-orange: #FF0000;
$assemble-blue: #001F2E;

// Secondary pallete: Progressive-left
$secondary-salmon: #FF5B36;
$secondary-orange: #FF3405;
$secondary-red: #E10000;

// Tertiary pallete: Democratic party
$tertiary-light-blue: #0085C0;
$tertiary-dark-blue: #004B70;

// Breakpoints
$tablet: "(min-width: 480px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
