$brand-color: #4182e4;
$secondary-brand-color: #4182e4;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

// Colors
$primary-cream: #fff4e0;
$primary-plum: #310e31;
$primary-green: #023d2b;
$secondary-plum: #4c4655;
$secondary-green-medium: #2b765b;
$secondary-green-light: #798f86;
$green-extra-dark: #0b140f;
